<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Consultar Equipo</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
  </head>
  <body>


    <div class="container-fluid p-4">
      <div class="row" id="products">
        
      </div>
    </div>

    <!-- Logic -->
    <script>
      const { ipcRenderer } = require('electron');
      const products = document.querySelector('#products');

      // New Product
      ipcRenderer.on('product:new', (e, newProduct) => {

        // let inputTextValue = document.querySelector('#Terminal')

        // inputTextValue.value += `\n${newProduct.description}`;

        products.innerHTML+=  `<input id="Terminal" class="form-control" type="text"  value="${newProduct.description}"  aria-label="readonly input example">`
        // const btns = document.querySelectorAll('.btn.btn-danger');
        // btns.forEach(btn => {
        //   btn.addEventListener('click', e => {
        //     e.target.parentElement.parentElement.parentElement.remove();
        //   });
        // })
      });

      // Remove All Products
      ipcRenderer.on('products:remove-all', e => {
        products.innerHTML = '';
      });

      // Remove Single Product
      function removeProduct(e) {
      }
    </script>
  </body>
</html>
