<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Consultar Equipo</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
  </head>
  <body>

    <!-- Interface -->
    <form class="p-4">
      <div class="form-group">
        <input type="text" id="name" class="form-control" placeholder="Ingresar Dirección IP" autofocus>
     
      </div>
      <button class="btn btn-primary btn-block">
        Save
      </button>
    </form>

    <!-- Logic -->
    <script>
      const { ipcRenderer } = require('electron');

      const form = document.querySelector('form');
      form.addEventListener('submit', e => {
        e.preventDefault();

        const nameProduct = document.querySelector('#name').value
        //const descProduct = document.querySelector('#description').value;

        const newProduct = {
          name: nameProduct,
          
        };

        ipcRenderer.send('product:new', newProduct);
      });

    </script>

  </body>
</html>
